{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    >
    <link rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" 
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'gallery/font-mfizz.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'gallery/main.css' %}">


    {% if title %}
        <title>WeddingBook - {{ title }}</title>
    {% else %}
        <title>WeddingBook</title>
    {% endif %}

    <link rel="shortcut icon" href="{% static 'icon/icon.png' %}" type="image/x-icon">
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
            <a class="navbar-brand mr-4 brand-name" href="{% url 'gallery_home' %}">WeddingBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'gallery_home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'image_create' %}"><i class="fas fa-plus"></i> Upload Photo</a>
                        {% if user.is_superuser %}
                            <a class="nav-item nav-link" href="{% url 'waiting_approval' %}">Waiting List</a>
                        {% endif %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">My Account</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
		</div>
            </div>
            </div>
        </nav>
    </header>
    
    <main role="main" class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="page-footer mt-4">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-12">
                    <h2>Find Me On Social Media:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/andersonAls01" target="blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/anderson-luis-sergio-25a29692/" target="blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/andersonLSergio" target="blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <h5>
                    Developed by 
                    <a href="https://andersonls.dev" class="mywebsite_link" target="blank">Anderson L. Sergio</a></h5>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous">
    </script>

    <script>
        $(document).ready(function(){
            function updateText(btn, newCount, verb){
            btn.text(verb)
            $(".likes").text(newCount + " Likes")
        }
         $(".like-btn").click(function(e){
           e.preventDefault()
           var this_ = $(this)
           var likeUrl = this_.attr("data-href")
        //    var likeCount = parseInt(this_.attr("data-likes")) | 0
        //    var addLike = likeCount + 1
        //    var removeLike = likeCount - 1
           if (likeUrl){
              $.ajax({
               url: likeUrl,
               method: "GET",
               data: {},
               success: function(data){
                 console.log(data)
                 var newLikes;
                 if (data.liked){
                     updateText(this_, data.likescount, "Unlike")
                 } else {
                     updateText(this_, data.likescount, "Like")
                     // remove one like
                 }
               }, error: function(error){
                 console.log(error)
                 console.log("error")
               }
             })
           }
          
         })
     })
    </script>

       <script>
       $(document).ready(function(){
         {% block jquery %}{% endblock %}
       })
       </script>
</body>
</html>
