{% extends "gallery/base.html" %}

{% block content %}
<div class="col-md-12">
    <div class="container content-section">
        <div class="row d-flex justify-content-center">
            <img alt="Image" src="{{ object.image.url }}" class="card-img-top">
            <div class="card-block bottom-align">
                <h5 class="card-title mt-3">{{ object.title|title }}</h5>
                <small class="text-muted">Published: {{ object.date_posted|date:"F d, Y" }}</small>
                <div class="article ml-auto">
                    <i class="far fa-heart">3</i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}